.App-div.container {
  width: 50%;
  border: 1px solid gray;
}

.App-nav {
  float: left;
  max-width: 100%;
  margin: 0;
  padding: 1em;
}

.App-article {
  margin-left: 30%;
  border-left: 0px solid #A0A0A0;
  padding: 1em;
  overflow: hidden;
}

table, th, td {
  border: 1px solid #797979;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
table#t01 {
  width: 100%;    
  background-color: #DFDFDF;
}

